In [1]:
import pandas as pd

In [2]:
liverpool_df = pd.read_csv('data/liverpool.csv', index_col=0)

In [3]:
liverpool_df

                Position  Born  Number Nationality
Name
Roberto Firmino       FW  1991   no. 9      Brazil
Sadio Mane            FW  1992  no. 10     Senegal
Mohamed Salah         FW  1992  no. 11       Egypt
Joe Gomez             DF  1997  no. 12     England
Alisson Becker        GK  1992  no. 13      Brazil