In [3]:
print("Hello World!")

Hello World!

In [4]:
x = 5
print(x)

5

In [5]:
print(x)

5

#  가장 큰 제목
## 두번째 큰 제목
### 세번째 큰 제목
#### 네번째 큰 제목
이렇게 글을 작성할 수 있습니다.

글을 **두껍게** 쓸 수 있고, *날려*쓸 수도 있습니다.

이렇게 리스트를 쓸 수도 있죠!
* list item1
* list item2
* list item3

In [1]:
x

NameError: name 'x' is not defined

In [2]:
x = 17

In [3]:
x

17

In [4]:
print(2 + 5)
print(x)
print(3 * 4)

7
17
12

In [5]:
2 + 5
x
3 * 4

12

In [8]:
import pandas as pd
df = pd.read_csv('./data/liverpool.csv')

In [9]:
print(df)

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil

In [10]:
df

              Name Position  Born  Number Nationality
0  Roberto Firmino       FW  1991   no. 9      Brazil
1       Sadio Mane       FW  1992  no. 10     Senegal
2    Mohamed Salah       FW  1992  no. 11       Egypt
3        Joe Gomez       DF  1997  no. 12     England
4   Alisson Becker       GK  1992  no. 13      Brazil